n8n-workflows/dashboard-publish-workflow.json
{
  "name": "Dashboard Marketing - Publish",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dashboard-publish",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.trigger.source }}",
              "rightValue": "dashboard-marketing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "all"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f23456789012",
      "name": "Validate Source",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Procesar datos de publicación\nconst data = $input.all();\nconst publishData = data[0].json;\n\nconsole.log('📥 Dashboard publish request:', publishData);\n\n// Extraer datos\nconst { tenantId, clientId, platforms, content, settings } = publishData;\n\n// Preparar respuesta\nconst results = {};\nconst publishId = `pub_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n// Simular procesamiento por plataforma\nplatforms.forEach(platform => {\n  results[platform] = {\n    status: content.scheduledAt ? 'scheduled' : 'published',\n    platform: platform,\n    content: content.text,\n    mediaCount: content.images ? content.images.length : 0\n  };\n});\n\nreturn {\n  success: true,\n  publishId,\n  tenantId,\n  clientId,\n  platforms,\n  results,\n  processedAt: new Date().toISOString()\n};"
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
      "name": "Process Publish",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "d4e5f6g7-h8i9-0123-defg-456789012345",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Invalid source\", \"expected\": \"dashboard-marketing\", \"received\": $json.trigger.source } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "e5f6g7h8-i9j0-1234-efgh-567890123456",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Source": {
      "main": [
        [
          {
            "node": "Process Publish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Publish": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dashboard-marketing"
  },
  "id": "publish-workflow",
  "tags": [
    {
      "createdAt": "2025-12-20T15:00:00Z",
      "updatedAt": "2025-12-20T15:00:00Z",
      "id": "dashboard",
      "name": "dashboard"
    }
  ]
}