n8n-workflows/facebook-simple-publisher.json
{
  "name": "Facebook Publisher (Simple)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "facebook-publish-real",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create",
        "pageId": "me",
        "message": "={{ $json.content.text || $json.message || 'Test post' }}"
      },
      "id": "facebook-node", 
      "name": "Facebook",
      "type": "n8n-nodes-base.facebook",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "facebookGraphApi": {
          "id": "fb-token-id",
          "name": "FB TOKEN"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"postId\": $json.id, \"message\": \"Published successfully\", \"timestamp\": new Date().toISOString() } }}"
      },
      "id": "response-node",
      "name": "Response", 
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}